.quiz{
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
   margin-left: 4px;
}
.option{
   display: flex;
   justify-content: space-between;
   margin: 5px 0px;
}
.quiz button{
   outline: none;
   background: none;
   border: none;
}
.quiz_a:hover{
   cursor: pointer;
   color: blue;
}
.quiz_b:hover{
   cursor: pointer;
   color: blue;
}
.quiz_c:hover{
   cursor: pointer;
   color: blue;
}
.quiz_d:hover{
   cursor: pointer;
   color: blue;
}
.quiz_a:active{
   color: brown;
}